[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
jupyter = "*"

[dev-packages]
"pep8" = "*"

[requires]
python_version = "3.8"
